
<p><strong>Materias seleccionados:</strong></p>

<mat-chip-set aria-label="Lista de cursos seleccionados">
  <mat-chip *ngFor="let materia of seleccionados" class="curso-chip">
    {{ materia }}
    <button matChipRemove (click)="deseleccionarCurso(materia)" aria-label="Deseleccionar">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
</mat-chip-set>


<br>

<mat-chip-listbox class="materia-lista" aria-label="Lista de materias">
  <div class="columna">
    <mat-chip-option
      *ngFor="let materia of materias.slice(0, materias.length / 2)"
      [selected]="seleccionados.includes(materia)"
      (click)="toggleMateria(materia)">
      {{ materia }}
      <mat-icon *ngIf="seleccionados.includes(materia)" matChipRemove>check</mat-icon>
    </mat-chip-option>
  </div>

  <div class="columna">
    <mat-chip-option
      *ngFor="let materia of materias.slice(materias.length / 2)"
      [selected]="seleccionados.includes(materia)"
      (click)="toggleMateria(materia)">
      {{ materia }}
      <mat-icon *ngIf="seleccionados.includes(materia)" matChipRemove>check</mat-icon>
    </mat-chip-option>
  </div>
</mat-chip-listbox>


<div>
  <!-- Botón para seleccionar todos los cursos -->
  <button mat-flat-button (click)="adicionarTodos()">Adicionar todos</button>

  <!-- Botón para limpiar la selección -->
  <button mat-raised-button (click)="limpiarSeleccion()">Limpiar selección</button>
</div>
