.deseleccionar-btn mat-icon {
  font-size: 16px; /* Ajusta el tamaño del ícono */
}
/* Estilo base para los chips */
.materia-chip {
  background-color: #005cbb; /* Azul */
  color: rgb(39, 200, 103);
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto de cambio de color */
.materia-chip:hover {
  background-color: #99f9b8; /* Morado */
  transform: scale(1.05); /* Aumentar el tamaño ligeramente */
}

/* Estilo cuando el chip se elimina (opcional) */
.materia-chip button[matChipRemove] {
  color: rgb(34, 89, 178); /* Asegúrate de que el ícono también sea blanco */
}

.materia-lista {
  display: flex;
  gap: 20px;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.materia-chip {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border-radius: 8px; /* Bordes redondeados */
  padding: 4px 8px;   /* Espaciado interno */
  background-color: #41b7db; /* Color de fondo claro */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transición suave */
}

.materia-chip:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al pasar el mouse */
  transform: scale(1.05); /* Efecto de ampliación */
}


.materia-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.materia-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Espacio entre los chips */
}

.columna {
  display: flex;
  flex-direction: column;
  width: 50%; /* Divide la lista en dos columnas */
}

.mat-chip-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  margin-right: 8px;
}
.materia-seleccionada {
  background-color: #9ee3ad; /* Color de fondo claro */
  color: white;
}
/* Estilo cuando el chip se elimina (opcional) */
.curso-chip button[matChipRemove] {
  color: rgb(34, 89, 178); /* Asegúrate de que el ícono también sea blanco */
}

