.deseleccionar-btn mat-icon {
  font-size: 16px; /* Ajusta el tamaño del ícono */
}
/* Estilo base para los chips */
.curso-chip {
  background-color: #005cbb; /* Azul */
  color: rgb(39, 200, 103);
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto de cambio de color */
.curso-chip:hover {
  background-color: #b5bbc9;
  transform: scale(1.05); /* Aumentar el tamaño ligeramente */
}

/* Estilo cuando el chip se elimina (opcional) */
.curso-chip button[matChipRemove] {
  color: rgb(34, 89, 178); /* Asegúrate de que el ícono también sea blanco */
}

.curso-lista {
  display: flex;
  gap: 20px;
}

.columna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.curso-chip {
  border-radius: 8px; /* Bordes redondeados */
  padding: 4px 8px;   /* Espaciado interno */
  background-color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transición suave */
}



.curso-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.curso-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Espacio entre los chips */
}

.columna {
  display: flex;
  flex-direction: column;
  width: 50%; /* Divide la lista en dos columnas */
}

.mat-chip-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  margin-right: 8px;
}
